@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.container h2{
    text-align: center;
}
.container .livesearch{
    /* border: 2px solid yellow; */
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    
}
.container .livesearch input{
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    margin-right: 20px;
}
.container .livesearch button{
    padding: 11px 20px;
    font-size: 16px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

  #customer-form {
    margin-bottom: 20px;
  }
  #customer-form button{
    padding: 8px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  #customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  #customer-table th, #customer-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #customer-table th {
    background-color: #f2f2f2;
  }
  #customer-table tbody tr td a{
    text-decoration: none;
  }

  .edit-icon, .delete-icon {
    cursor: pointer;
    font-weight: 900;
    margin: 3px;
  }
  .edit-icon{
    color: #f0ad4e;
  }
  .delete-icon{
    color: #d9534f
  }

  @media screen and (max-width: 500px) {
    .container .livesearch button{
        padding: 5px 10px;
        font-size: 13px; 
    }
    #customer-form{
        display: flex;
        justify-content: center;
    }
    #customer-form button{
        padding: 5px;
        font-size: 13px;
    }
}

/* MODAL BOX */
/* Add this in your styles.css file or include it in the head of your HTML document */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.close {
  position: absolute;
  top: -2px;
  right: 5px;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  /* border: 2px solid green; */
  border-radius: 100%;
  padding: 1px;
  color: #3457D5;
  /* background-color: #3457D5; */
}
.close:hover{
  color: red;
}
.add_group{
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;

}
.add_group .form-input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border: 2px solid red; */
  width: 100%;
}
.add_group input, .add_group select{
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px;
  margin-left: 20px;
  width: 300px;
}
.add_group button{
  background-color: #3457D5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.error_notifier{
  color: red;
  font-size: 12px;
  font-weight: 900;
  display: none;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .modal-content{
    width: 80%;
  }
  .add_group .form-input{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .add_group .form-input label{
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
  }
  .add_group .form-input input, .add_group .form-input select {
    width: 60%;
  }
 
}

@media screen and (max-width: 600px) {
  
  .add_group .form-input{
    flex-direction: column;
    width: 100%;
  }
  .add_group .form-input label{
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
  }
  .add_group .form-input input, .add_group .form-input select {
    width: 80%;
  }
 
}
