 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     background-color: #f8f9fa;
     padding: 2rem;
     margin: 0;
 }

 .history-table th,
 .history-table td {
     vertical-align: middle;
 }

 .table-light th {
     text-align: center;
 }

 .spinner-border {
     display: block;
     margin: 2rem auto;
 }

 h2 {
     text-align: center;
     padding-top: 10px;
     display: none;
 }

 @media screen and (max-width: 800px) {
     h2 {
         font-size: 18px;
     }

     #deactivation-tab,
     #reactivation-tab,#restriction-tab, #unrestriction-tab {
         font-size: 14px;
     }
 }