.transactionsTable th,
        .transactionsTable td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .transactionsTable th{
            text-align: center;
        }
        .transactionsTable td{
            text-align: left;
        }

        .modal .details-form {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            display: flex;
        }

        .details-form h3 {
            margin-bottom: 10px;
            text-align: center;
        }

        .details-form label,
        .details-form select,
        .details-form button {
            display: block;
            margin-bottom: 10px;
        }

        .details-form select {
            width: 50%;
            padding: 10px;
            margin: 5px 0 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            outline: none;
        }

        .details-form button {
            font-size: 14px;
            padding: 10px;
            background-color: #0275d8;
            cursor: pointer;
        }

        .actionBtn {
            display: flex;
            justify-content: space-around;
        }

        .actionBtn button:hover {
            background-color: #000;
        }
        #receipt-header{
            text-align: center;
            font-weight: lighter;
            font-size: 15px;
        }
        #receipt-header span{
            color:#0275d8;
            font-weight: bold;
        }