/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.checkout-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.promoIndicator{
    margin-bottom: 10px;
}

.promoIndicator .promoCheckBox{
    font-size: 12px;
    padding-bottom: 5px;
    border: 2px solid red;
}
.promoContainer{
    display: none;
}

h1 {
    text-align: center;
    /* margin-bottom: 10px; */
}

h2 {
    margin-top: 0;
}

.order-summary, .payment-method, .payment-details {
    margin-bottom: 20px;
}

.order-item, .order-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#discount-item, #total-after-discount{
    display: none;
}
.payment-option {
    margin-bottom: 10px;
}

.payment-details {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */

}

.form-group, .form-input {
    margin-bottom: 15px;
}

.form-group label, .form-input label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-input input, .form-input select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-input input[type="text"]:focus, .form-group input[type="text"]:focus
.form-input input[type="number"]:focus,
.form-group input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
#receipt-btn{
    background-color: #a72828;
}
#receipt-btn:hover{
    background-color: #218838;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}
#bank_transfer_details{
    display: none;
}
#paypal-details{
    display: none;
}
#orderSummaryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  #orderSummaryTable th, #orderSummaryTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #orderSummaryTable th {
    background-color: #f2f2f2;
  }
  #orderSummaryTable tbody tr td a{
    text-decoration: none;
  }

  @media (max-width: 600px) {
    #receipt-btn{
        font-size: 12px;
        padding: 6px;
    }
  }